# Dicionário de Dados

| **Nome**           | **Tipo de Dado** | **Descrição**                                                                                                                          | **Cobertura Temporal** | **Unidade De Medida** | **Contém Dados Sensíveis \(LGPD\)** | **Observações** |
|:------------------:|:----------------:|:--------------------------------------------------------------------------------------------------------------------------------------:|:----------------------:|:---------------------:|:-----------------------------------:|:---------------:|
| ano                | INT64            | Ano                                                                                                                                    | 2002 \- 2020           | Ano                   | Não listado                         | Não listado     |
| id\_municipio      | STRING           | ID Município \- IBGE 7 Dígitos                                                                                                         | 2002 \- 2020           | Não listado           | Não listado                         | Não listado     |
| impostos\_liquidos | INT64            | Impostos, líquidos de subsídios, sobre produtos a preços correntes                                                                     | 2002 \- 2020           | Não listado           | Não listado                         | Não listado     |
| pib                | INT64            | Produto Interno Bruto a preços correntes                                                                                               | 2002 \- 2020           | BRL                   | Não listado                         | Não listado     |
| va                 | INT64            | Valor adicionado bruto a preços correntes total                                                                                        | 2002 \- 2020           | BRL                   | Não listado                         | Não listado     |
| va\_adespss        | INT64            | Valor adicionado bruto a preços correntes da administração, defesa, educação e saúde públicas e seguridade social                      | 2002 \- 2020           | BRL                   | Não listado                         | Não listado     |
| va\_agropecuaria   | INT64            | Valor adicionado bruto a preços correntes da agropecuária                                                                              | 2002 \- 2020           | BRL                   | Não listado                         | Não listado     |
| va\_industria      | INT64            | Valor adicionado bruto a preços correntes da indústria                                                                                 | 2002 \- 2020           | BRL                   | Não listado                         | Não listado     |
| va\_servicos       | INT64            | Valor adicionado bruto a preços correntes dos serviços, exclusive administração, defesa, educação e saúde públicas e seguridade social | 2002 \- 2020           | BRL                   | Não listado                         | Não listado     |

# Importando as Bibliotecas

In [1]:
import pandas as pd
import basedosdados as bd

# Carregando os Dados

In [3]:
# Passando os dados para a variavel 'df'
df = bd.read_table(dataset_id='br_ibge_pib',
                   table_id='municipio',
                   billing_project_id="python-ads-388103",
                   reauth=True)

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=262006177488-3425ks60hkk80fssi9vpohv88g6q1iqd.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform&state=GEPQPmjW3Ismg6P6QpKIBu4YVJMUVg&access_type=offline

Downloading: 100%|███████████████████████████████████████████████████████████████| 105756/105756 [00:25<00:00, 4142.86rows/s]

In [4]:
# Salvando os dados no projeto
df.to_csv('./arquivos/base_de_dados/pib.csv')

# Acessando os Dados

In [5]:
# Acessando o arquivo CSV dos dados 
df = pd.read_csv('./arquivos/base_de_dados/pib.csv', index_col=0)

df.head()

,id_municipio,ano,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
0,1100015,2002,111290995,7549266,103741729,27013223,9376871,24651113,42700523
1,1100023,2002,449592816,42665972,406926845,28590178,99922936,161851549,116562182
2,1100031,2002,3176752,1867935,29899585,10883801,1961907,5128876,11925001
3,1100049,2002,474443097,49622951,424820146,32810376,98292764,175748703,117968303
4,1100056,2002,79173614,8200971,70972643,11283793,6651475,25306009,27731366

In [8]:
df['ano'].unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

# Criando a Pesquisa da Tabela

In [9]:
# Criando a função
def pesquisa_pib(ano, baixar):
    
    # Criando uma nova tabela com a busca do ano
    busca_pib = df[df['ano'] == ano]
    
    # Salvando a tabela
    if len(busca_pib) < 0:
        print("Busca não encontrada")
        
    else:
        if baixar == 1:
            busca_pib.to_excel(f'arquivos\pesqui_pib_{ano}.xlsx')
            print('Tabela salva em arquivos')
        
        elif baixar == 2:
            return busca_pib
        
        else:
            print("Opção não localizada! Insira 1 para baixar e 2 apenas para visualizar a tabela")

# Solicitando Dados Para o Usuários

In [10]:
# Utilizando tratamento de erros com o 'try | except'
try:
    ano_pib = int(input("Informe o ano da busca: "))
    baixar_pib = int(input("Deseja baixar a busca?\n 1- Para Baixar;\n 2- Apenas para retornar a tabela.\n"))

except (ValueError, TypeError, AttributeError):
    print('Ocorreu um erro, tente novamente!')
    
# Passando os dados do usuário para a função
pesquisa_pib(ano= ano_pib, baixar=baixar_pib)

Informe o ano da busca: 2002
Deseja baixar a busca?
 1- Para Baixar;
 2- Apenas para retornar a tabela.
2

,id_municipio,ano,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
0,1100015,2002,111290995,7549266,103741729,27013223,9376871,24651113,42700523
1,1100023,2002,449592816,42665972,406926845,28590178,99922936,161851549,116562182
2,1100031,2002,3176752,1867935,29899585,10883801,1961907,5128876,11925001
3,1100049,2002,474443097,49622951,424820146,32810376,98292764,175748703,117968303
4,1100056,2002,79173614,8200971,70972643,11283793,6651475,25306009,27731366
...,...,...,...,...,...,...,...,...,...
5555,5222005,2002,86496897,5496209,81000688,37061131,5763475,26151965,12024117
5556,5222054,2002,66360309,3227149,63133161,32945422,3450499,18957616,7779624
5557,5222203,2002,13820626,805531,13015095,4390096,62022,3605544,4399235
5558,5222302,2002,4605601,1119854,44936156,29437416,4451573,6188056,4859112
5559,5300108,2002,53902199799,6926279208,46975920591,165416683,4089946543,21927573402,20792983964